<h1> <%= @trainer.name %>'s Digimon: </h1>
<h4> <%= link_to "Sort Alphabatically",  :sort => "name" %> </h4> 

<% @digimons.each do |digimon| %>
 <%= link_to digimon.name, "/digimons/#{digimon.id}" %>
<% end %>

<h3><a href="/trainers/<%= @trainer.id %>/digimons/new">Add New Digimon</a></h3>