<h1>Trainers</h1>
<span> <%= link_to "Sort by Digimon Count", :sort => true %> </span>
<% @trainers.each do |trainer| %>
  <p> <%= trainer.name %> <a href="/trainers/<%= trainer.id %>/edit">edit</a> <%= link_to "delete", "/trainers/#{trainer.id}", method: :delete %> </p>
<% end %>
<h3><a href="/trainers/new">Add New Trainer</a></h3>